extends layout

block content
  h1 Create Thread
  div(id= "error" class= "card-panel")
  form(id= "creation-form" action="/threads/create" method="POST")
    label(for="title") Title
    input(type="text" name="title" id="title" required)
    label(for="content") Content
    textarea(type="content" name="content" id="content" rows = "4" cols = "50" required)
    button(class="btn" type="submit") Create
  script(src= "/javascript/createThread.js")
