.side-nav#mobile.blue-grey.darken-3
    ul(class="right")
        li: a(href="/threads/list") Threads
        li: a(href="/users/list" id= "list") List of users
        li: a(href="/users/login") Login
        li: a(href="/users/register") Register
        li: a(href="" id= "logout") Logout
